body{
    background-color: rgb(192, 46, 97);
    color: rgb(255, 255, 255);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
    background-color: hotpink;
}
ul li a.active{
    background-color: hotpink;
}
table th {
border: 1px solid black;
  border-collapse: collapse;
}
img .Binaireplaatje {
    float: right;
}

p .Bits {
    width: 75%;
}
