body{
    background-color: rgb(192, 46, 97);
    color: rgb(255, 183, 234);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}